[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
matplotlib = "*"

[dev-packages]
neovim = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.6"
